<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>1</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
</head>

<body>

<!--header-->
<nav class="navbar-inverse navbar-default nav" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><strong style="color: white">Allchip</strong></a>

        </div>
        <div>
            <!--向左对齐-->
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        About Us
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="aboutus.html">Who We Are</a></li>
                        <li><a href="aboutus.html#people">Our People</a></li>
                        <li><a href="aboutus.html#mission">Our Missions</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="products.html" class="dropdown-toggle">
                        Products
                        <b class="caret"></b>

                    </a>

                </li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Services
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="server.html">Why AllChip?</a></li>
                        <li><a href="server.html#2p">Services&Solutions</a></li>
                        <li><a href="server.html#3p">Excess Inventory</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Quality
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="quality.html">Sourcing Management</a></li>
                        <li><a href="quality.html#testing">Component Testing</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="policy.html" class="dropdown-toggle">
                        Policy
                        <b class="caret"></b>

                    </a>

                </li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="iso.html" class="dropdown-toggle">
                        ISO9001
                        <b class="caret"></b>

                    </a>

                </li>
            </ul>

<!--            <ul class="nav navbar-nav navbar-left">-->
<!--                <li class="dropdown">-->
<!--                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
<!--                        Language-->
<!--                        <b class="caret"></b>-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu">-->
<!--                        <li><a th:href="@{/index.html(l='en_US')}">English</a></li>-->
<!--                        <li><a th:href="@{/index.html(l='zh_CN')}">Chinese</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--            </ul>-->
        </div>
    </div>
</nav>

<!--footer-->

<div class="container-fluid" style="background: black ;color: white" th:fragment="footer">
    <h4>&nbsp;</h4>
    <div class="row">
        <div class="col-sm-1">
            <p>&nbsp;</p>
        </div>
        <div class="col-sm-11">
            <h2 style="color: white">GET IN TOUCH</h2>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-1">
            <p>&nbsp;</p>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-xs-1">
                    <h5 class="glyphicon glyphicon-phone-alt"></h5>
                </div>
                <div class="col-xs-11">
                    <div>
                        <h5>00852-54483656</h5>
                    </div>
                </div>
            </div>


        </div>


    </div>
    <div class="row">
        <div class="col-sm-1">
            <p>&nbsp;</p>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-xs-1">
                    <h5 class="glyphicon glyphicon glyphicon-print"></h5>
                </div>
                <div class="col-xs-11">
                    <div>
                        <h5>00852-54483666</h5>
                    </div>
                </div>
            </div>


        </div>


    </div>
    <div class="row">
        <div class="col-sm-1">
            <p>&nbsp;</p>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-xs-1">
                    <h5 class="glyphicon glyphicon glyphicon-envelope"></h5>
                </div>
                <div class="col-xs-11">
                    <div>
                        <h5>Info@Allchip-electronic.com</h5>
                    </div>
                </div>
            </div>


        </div>


    </div>


    <div class="row">
        <div class="col-sm-1">
            <p>&nbsp;</p>
        </div>

        <div class="col-sm-4">
            <div class="row">
                <div class="col-xs-1">
                    <h5 class="glyphicon glyphicon glyphicon-map-marker"></h5>
                </div>
                <div class="col-xs-11">
                    <div>
                        <h5>ROOM 8,11/F, WANG FAI INDUSTRIAL BUILDING, 29 LUK HOP STREET, SAN PO KONG, KOWLOON, HONG
                            KONG</h5>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!--隐藏深圳地址-->
<!--    <div class="row">-->
<!--        <div class="col-sm-1">-->

<!--        </div>-->

<!--        <div class="col-sm-4">-->
<!--            <div class="row">-->
<!--                <div class="col-xs-1">-->
<!--                    <h5 class="glyphicon glyphicon glyphicon-map-marker"></h5>-->
<!--                </div>-->
<!--                <div class="col-xs-11">-->
<!--                    <div>-->
<!--                        <h5 style="text-transform:uppercase">Room 308-309 Building 501 Shangbu Industrial Zone Futian-->
<!--                            District Shenzhen</h5>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->

<!--        </div>-->

<!--    </div>-->
    <h2>&nbsp;</h2>
</div>


<script src="/jquery-3.4.1.min.js"></script>
<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>

